
h1{
text-align: center;
}

header h1 {
  font-size: 50px;
  text-align: center;
}

#gameBoardHeader{
  list-style-type:none;
  margin:0;
  padding:0;
  background-color:darkgrey;
  text-align:center;
}
#gameBoardHeader li{
  display:inline;
  color:white;
}
#gameBoard {
  margin:auto;
  font-size: 50px;


}

img { 
  width: 200px;
  height: 200px;
  border-radius: 25px;
}
#scoreBoard, td{
  width:75%;
  margin:auto;
  border:1px solid black;
  text-align:center;
}