
h1{
text-align: center;
}

header h1 {
  font-size: 50px;
  text-align: center;
}

#gameBoardHeader{
  list-style-type:none;
  margin:0;
  padding:0;
  background-color:darkgrey;
  text-align:center;
}

#gameBoardHeader li{
  display:inline;
  color:white;
}

#gameBoard {
  margin:auto;
  font-size: 50px;
}
td {
  width: 250px;
  height: 250px;
}

img { 
  width: 200px;
  height: 200px;
  border-radius: 25px;
}

#imgContainer {
  width: 100%;
}

#scoreBoard, td{
  width:75%;
  margin:auto;
  border:solid 20px black;
  text-align:center;
}

/* Playing with styling - Deiosha  */
.flipcard {
  background-color: transparent;
  width: 200px;
  height: 200px;
  border: 1px solid #F1F1F1;
  perspective: 1000px;
}
.flipcardinner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flipcard:hover .flipcardinner {
  transform: rotateY(180deg);
}
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.front {
  background-color: #bbb;
  color: black;
}
/* Style the back side */
.back {
  background-color: pink;
  color: white;
  transform: rotateY(180deg);
}